<section class="pb-1 bg-light bg-gradient">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-3 mb-md-0">
                <div class="mb-3">
                    <a routerLink="" class="mb-3 mb-md-0 text-decoration-none">
                        <!-- <img class="foot-social rounded" width="35" height="35" src="/img/logo.png" alt="Footer Icon"> -->
                        <span class="fs-4 py-2 fw-bold font-s">VISHWAS ACHARYA</span>
                    </a>
                </div>
                <p class="font-s">Welcome to my portfolio website, a comprehensive repository encompassing all facets of my professional journey, personal interests, and educational pursuits. The creation of this website stems from the purpose of centralizing diverse elements into a singular platform. Within this space, you will find an amalgamation of articles, podcasts, and projects, all meticulously curated and thoughtfully presented.</p>
            </div>
            <div class="col-md-3 mb-3 mb-md-0 ps-md-5">
                <h3 class="fw-bold">Website</h3>
                <div class="d-flex flex-column">
                    <a class="m-1 link" routerLink="home"><i class="fa-solid fa-angle-right font-s me-2"></i>Home</a>
                    <a class="m-1 link" routerLink="projects"><i class="fa-solid fa-angle-right font-s me-2"></i>Projects</a>
                    <a class="m-1 link" routerLink="about"><i class="fa-solid fa-angle-right font-s me-2"></i>About</a>
                    <a class="m-1 link" routerLink="blog"><i class="fa-solid fa-angle-right font-s me-2"></i>Blog</a>
                    <a class="m-1 link" routerLink="podcast"><i class="fa-solid fa-angle-right font-s me-2"></i>Podcast</a>
                    <a class="m-1 link" routerLink="contact"><i class="fa-solid fa-angle-right font-s me-2"></i>Contact</a>
                </div>
            </div>
            <div class="col-md-3 mb-3 mb-md-0">
                <h3 class="fw-bold">Legal</h3>
                <div class="d-flex flex-column">
                    <a class="m-1 link" routerLink="terms-of-services"><i
                            class="fa-solid fa-angle-right font-s me-2"></i>Terms</a>
                    <a class="m-1 link" routerLink="privacy-policy"><i
                            class="fa-solid fa-angle-right font-s me-2"></i>Privacy</a>
                </div>
            </div>
        </div>
    </div>

    <hr>

    <footer class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between my-2 mx-5">
        <div class="col-md-4 d-flex align-items-center">
            <a routerLink="/" class="mb-3 mb-md-0 text-decoration-none">
                <img class="foot-social" width="30" height="30" src="/favicon.ico" alt="Footer Icon">
            </a>
            <span class="ms-2">© <span id="presentYear"></span> Vishwas Acharya</span>
        </div>
        <div class="col-md-4">
            <div class="d-flex align-items-center justify-content-end">
                <a class="mx-1 p-2 tab text-dark fa-brands fa-github" href="https://www.github.com/vishwasracharya" title="Vishwas Acharya GitHub Profile" target="_blank"></a>
                <a class="mx-1 p-2 tab text-dark fa-brands fa-twitter" href="https://www.twitter.com/vishwasracharya" title="Vishwas Acharya Twitter Profile" target="_blank"></a>
                <a class="mx-1 p-2 tab text-dark fa-brands fa-medium" href="https://medium.com/@vishwasacharya" title="Vishwas Acharya Medium Profile" target="_blank"></a>
                <a class="mx-1 p-2 tab text-dark fa-brands fa-linkedin" href="https://www.linkedin.com/in/vishwasracharya" title="Vishwas Acharya Linkedin Profile" target="_blank"></a>
                <a class="mx-1 p-2 tab text-dark fa-brands fa-instagram" href="https://www.instagram.com/vishwasracharya" title="Vishwas Acharya Instagram Profile" target="_blank"></a>
                <a class="mx-1 p-2 tab text-dark fa-brands fa-youtube" href="https://www.youtube.com/@VishwasAcharya" title="Vishwas Acharya YouTube Profile" target="_blank"></a>
                <a class="mx-1 p-2 tab text-dark fa-brands fa-spotify" href="https://open.spotify.com/show/7DQt4atsshjsEG0Am49lHr?si=90ba03956ec74dc7" title="Vishwas Acharya Spotify Profile" target="_blank"></a>
                <a class="mx-1 p-2 tab text-dark fa-brands fa-facebook" href="https://www.facebook.com/vishwasracharya" title="Vishwas Acharya Facebook Profile" target="_blank"></a>
                <a class="mx-1 p-2 tab text-dark fa-brands fa-snapchat" href="https://www.snapchat.com/add/vishwasracharya" title="Vishwas Acharya SnapChat Profile" target="_blank"></a>
                <a class="mx-1 p-2 tab text-dark fa-brands fa-telegram" href="https://t.me/vishwasracharya" title="Vishwas Acharya Telegram Profile" target="_blank"></a>
                <!-- <a class="mx-1 p-2 tab text-dark fa-brands fa-threads" href="https://www.threads.net/@vishwasracharya" title="Vishwas Acharya Threads Profile" target="_blank"></a> -->
                <!-- <a class="mx-1 p-2 tab text-dark fa-brands fa-blogger-b" href="https://vishwasacharya.blogspot.com" title="Vishwas Acharya Blogger Profile" target="_blank"></a> -->
            </div>
        </div>
    </footer>
</section>