@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700|Roboto:300,400,500,700,900&amp;display=swap");

/* SCROLLBAR-Design */
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(160, 160, 160); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #7a7a7a; 
}

/* GENERAL CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6{
  font-family: 'Poppins', sans-serif;
}
html{
  scroll-behavior: smooth;
}
body{
  background: rgb(255, 255, 255);
  color: #0e0e0e;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 400;
  /* line-height: 1.62em; */
  position: relative;
}

a {
  color: #0e0e0e;
  text-decoration: none;
}
.font-poppins{
  font-family: 'Poppins', sans-serif;
}
.container{
  overflow: auto;
}
.container-0{
  margin: 0 13vw;
}
.m-0{
  margin: 2em;
}
.py-0{
  padding: 1em 0em;
}
.py-1{
  padding: 2em 0em;
}
.px-00{
  padding: 0em 0.5em;
}
.px-0{
  padding: 0em 1em;
}
.link{
  text-decoration: none;
  color: #007bff;
  transition: all 0.3s;
}
.link:hover{
  text-decoration: none;
  color: rgb(0, 0, 0);
  transition: all 0.3s;
}
.center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.spacing{
  letter-spacing: 2px;
  word-spacing: 2px;
}

/* LANDING PAGE  */
.landing{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.landing-text{
  padding: 0em 5em 0em 0em;
}
.landing-p{
  font-size: 1.2em;
  font-weight: 300;
  padding: 0 0 0 1em;
}
.landing-image{
  width: 25vw;
  border-radius: 50%;
}
.vertical-center{
  display: flex;
  align-items: center;
  min-height: 100vh;
}
@media (max-width: 2560px) and (min-width: 2000px) {
  .landing-text{
    padding: 0em;
    display: flex;
    flex-direction: column;
  }
  .landing div h1{
    font-size: 5vw;
  }
  .landing div p{
    font-size: 3em;
    font-weight: 300;
    padding: 0em 0em 0em 0.5em;
  }
  .landing{
    display: flex;
    flex-direction: row;
    margin: 5vh;
  }
  .display-0{
    font-size: 6em;
    font-weight: 300;
  }
  .display-subhead{
    font-size: 3em;
    font-weight: 500;
  }
  .display-subtitle{
    font-size: 3em;
    font-weight: 300;
  }
  .display-subsmall{
    font-size: 3em;
    font-weight: 300;
  }
}

@media (max-width: 768px) and (min-width: 576px) {
  .landing-text{
    padding: 0em;
    display: flex;
    flex-direction: column;
  }
  .landing div h1{
    font-size: 6vw;
  }
  .landing div p{
    font-size: 1em;
    font-weight: 300;
    padding: 0em 0em 0em 0.5em;
  }
  .landing{
    display: flex;
    flex-direction: row;
    margin: 5vh;
  }
}
@media (max-width: 576px) {
  .landing-text{
    padding: 0em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 4vh;
  }
  .landing div h1{
    font-size: 8vw;
    padding: 0.5em 0em;
  }
  .landing div p{
    text-align: center;
    font-size: 1em;
    font-weight: 300;
    padding: 0em 0 0.5em 0em;
  }
  .landing{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.about-section{
  max-width: 50%;
}
.display-0{
  font-size: 4.5em;
  font-weight: 300;
}
.display-subhead{
  font-size: 1.5em;
  font-weight: 500;
}
.display-subtitle{
  font-size: 1.2em;
  font-weight: 300;
}
.display-subsmall{
  font-size: 1em;
  font-weight: 300;
}
@media (max-width: 768px) and (min-width: 576px){
  .display-0{
    font-size: 3.7em;
    font-weight: 300;
  }
  .display-subhead{
    font-size: 1em;
    font-weight: 500;
  }
  .display-subtitle{
    font-size: 1em;
    font-weight: 300;
  }
  .display-subsmall{
    font-size: 0.9em;
    font-weight: 300;
  }
}
@media (max-width: 576px) {
  .display-0{
    font-size: 3.8em;
    font-weight: 300;
  }
  .display-subhead{
    font-size: 1em;
    font-weight: 500;
  }
  .display-subtitle{
    font-size: 1em;
    font-weight: 300;
  }
  .display-subsmall{
    font-size: 0.9em;
    font-weight: 300;
  }
}
@media (max-width: 320px){
  .display-0{
    font-size: 3em;
    font-weight: 300;
  }
  .display-subhead{
    font-size: 1em;
    font-weight: 500;
  }
  .display-subtitle{
    font-size: 0.8em;
    font-weight: 300;
  }
  .display-subsmall{
    font-size: 0.8em;
    font-weight: 300;
  }
}
.social-links{
  display: flex;
  list-style: none;
}
.mail{
  padding: 0 0.7em 0 0;
}
.github, .linkedin, .twitter, .instagram, .website, .youtube, .facebook{
  padding: 0 0.8em;
}
i{
  font-size: 1.5em;
}
@media (max-width: 2560px) and (min-width: 2000px){
  .mail{
    padding: 0 2em 0 0;
  }
  .github, .linkedin, .twitter, .instagram, .website, .youtube, .facebook{
    padding: 0 2em;
  }
  i{
    font-size: 3em;
  } 
}
@media (max-width: 576px){
  .mail{
    padding: 0 0.5em 0 0;
  }
  .github, .linkedin, .twitter, .instagram, .website, .youtube, .facebook{
    padding: 0 0.5em;
  }
  i{
    font-size: 1.4em;
  }
}
@media (max-width: 320px){
  .mail{
    padding: 0 0.4em 0 0;
  }
  .github, .linkedin, .twitter, .instagram, .website, .youtube, .facebook{
    padding: 0 0.4em;
  }
  i{
    font-size: 1.3em;
  }
}
.about div h1, .education div h1, .experience div h1{
  padding: 0 0 0.5em 0em;
}
.skills-tag{
  display: flex;
  list-style: none;
  flex-wrap: wrap;
}
.skills-tag li{
  font-weight: 500;
  background-color: #ffffff85;
  box-shadow: inset 10px -4px 19px #7474742e;
  padding: 0.5em;
  margin: 0.2em;
  border-radius: 0.8em;
}
.blogs{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
}
.blog-img{
  width: 25em;
}
.blog-text{
  display: flex;
  justify-self: center;
  align-items: center;
  flex-direction: column;
}
@media (max-width: 2560px) and (min-width: 2000px){
  .blogs, .vlogs{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
  }
  .blog-1, .blog-2, .blog-3, .vlog-frame{
    margin: 0em 0em 2em 0em;
  } 
  .blog-img{
    width: 25vw;
  }
  .vlog-frame{
    width: 70vw;
    height: 13vw;
  } 
  .link-size{
    font-size: 0.3em;
  }
}
@media (max-width: 1400px) and (min-width: 768px) {
  .blog-img{
    width: 26vw;
  }
  .vlog-frame{
    width: 32vw;
  } 
}

@media (max-width: 768px) and (min-width: 576px){
  .blogs, .vlogs{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
  }
  .blog-1, .blog-2, .blog-3, .vlog-frame{
    margin: 0em 0em 2em 0em;
  } 
  .blog-img{
    width: 29vw;
  }
  .vlog-frame{
    width: 32vw;
  } 
}
@media (max-width: 576px) {
  .blogs, .vlogs{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
  }
  .blog-1, .blog-2, .blog-3, .vlog-frame{
    margin: 0em 0em 2em 0em;
  } 
  .blog-img{
    width: 90vw;
  }
  .vlog-frame{
    width: 90vw;
  } 
}
@media (max-width: 320px){
  .blog-1, .blog-2, .blog-3, .vlog-frame{
    padding: 0 5em;
  } 
  .blog-img{
    width: 90vw;
  }
  .vlog-frame{
    width: 140vw;
  } 
}

.pod{
  display: flex;
  justify-content:baseline;
  align-items: center;
}
.pod-img{
  width: 14em;
  border: none;
  border-radius: 0.5em;
}
.pod-desc{
  margin: 0 4em;
}
.pod-title{
  padding-bottom: 1em;
}
.vlogs{
  display: flex;
  justify-content:space-evenly;
  align-content: center;
}
.rounded{
  border-radius: 1em;
}
.link-size{
  position: absolute;
  font-size: 0.5em;
}

.bg-text {
  position: absolute;
  margin-bottom: -1em;
  top: -90px;
  left: 25px;
  right: 0;
  bottom: 0;
  font-weight: 700 !important;
  color: rgba(44, 44, 44, 0.164);
  text-transform: uppercase;
}
@media (min-width: 992px) {
  .bg-text {
    font-size: 6em;
  }
}
@media (max-width: 991.98px) {
  .bg-text {
    font-size: 6em;
  }
}
@media (max-width: 767.98px) {
  .bg-text {
    display: none;
  }
}
@media (min-width: 768px) {
  .bg-text {
    position: relative;
  }
}

