.bg-image-full {
  background-image: url("/assets/img/about/bg-full.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 70vh;
  filter: brightness(0.7);
}
