<div class="d-flex align-items-center justify-content-center m-3 m-md-5">
    <img class="img-fluid w-100 rounded-20" src="/assets/img/about/banner.png" alt="About Banner">
</div>

<div class="container my-3 py-3">
    <div class="row mb-5">
        <div class="col-12 col-md-7 mx-auto text-justify d-flex align-items-center justify-content-center flex-column">
            <h1 class="mb-4">Who Am I?</h1>
            <p>
                Embark on a journey to turn dreams into digital reality with me, your trusted Full Stack Developer extraordinaire. With a passion for crafting innovative solutions, I specialize in transforming concepts into tangible, high-performing products that leave a lasting impact.
            </p>
            <p>
                Armed with a formidable arsenal of skills including JavaScript, React.js, Node.js, and more, I'm adept at breathing life into your visions. Whether it's designing sleek websites for businesses or engineering cutting-edge tech products, I bring a blend of creativity and technical prowess to every project.
            </p>
            <p>
                I thrive on overseeing every facet of development, ensuring excellence from inception to execution. My commitment to meticulous attention to detail leaves no room for mediocrity, guaranteeing scalable, performant, and intuitive outcomes every time.
            </p>
            <p>
                Let's collaborate and unleash the power of technology to create something truly extraordinary. Your dream, my expertise—let's make magic happen! Connect with me on LinkedIn/Twitter or explore my work on GitHub.
            </p>
        </div>
    </div>
</div>
