<div class="d-flex align-items-center justify-content-center m-3 m-md-5">
    <img class="img-fluid w-100 rounded-20" src="/assets/img/about/banner.png" alt="About Banner">
</div>

<div class="container my-3 py-3">
    <div class="row mb-5">
        <div class="col-12 col-md-7 mx-auto text-justify d-flex align-items-center justify-content-center flex-column">
            <h1 class="mb-4">Who Am I?</h1>
            <p>
                Greetings. With regard to my academic background, I have attained a 🎓 Bachelor's degree in Information Technology Engineering from Sardar Patel College of Engineering, located near Vallabh Vidhyanagar, my current place of residence. I relocated to this city during the 10th grade, prior to which I resided in Khambhat. Currently, I am employed as a Software Engineer at <a class="text-decoration-none" target="_blank" href="https://volansys.com/">@Volansys.</a>
            </p>
            <p>
                In the past, I was a rather introverted individual. However, to overcome my reticence and as a supplementary occupation, I produced <a class="text-decoration-none" href="https://youtube.com/c/VishwasAcharya">Youtube</a> videos, created <a class="text-decoration-none" href="https://open.spotify.com/show/7DQt4atsshjsEG0Am49lHr?si=ii3DcV4JQT2CxOJWWidZKg&utm_source=copy-link">Podcasts</a>, and pursued my passion for photography, which I showcased on my <a class="text-decoration-none" href="https://instagram.com/vishwasracharya">Instagram</a> profile.
            </p>
            <p>
                During times of personal low🥱, or when I am feeling unproductive, I engage in listening to music 🎶 and dancing to it as a means of rejuvenation and reestablishing my focus.
            </p>
        </div>
    </div>
</div>
