<div class="bg-image-full"></div>

<div class="container my-5 py-5">
    <div class="row mb-5">
        <div class="col-12 col-md-7 mx-auto text-justify d-flex align-items-center justify-content-center flex-column">
            <h1 class="mb-4">Who Am I?</h1>
            <p>Hi, Talk about studies I completed my Bachelor's of I.T engineering from Sardar Patel College of
                Engineering, which is located near Vallabh Vidhyanagar where I live, I moved to this city when I was in
                10th class before that I used to live in Khambhat. And presently working as a Full-Stack Engineer at <a
                    class="text-decoration-none" target="_blank" href="https://volansys.com/">@Volansystech</a>,
            </p>
            <p>I was a kinda introverted guy so to overcome my shyness and as a side hustle I make <a
                    class="text-decoration-none" href="https://youtube.com/c/VishwasAcharya">Youtube</a>
                videos, <a class="text-decoration-none"
                    href="https://open.spotify.com/show/7DQt4atsshjsEG0Am49lHr?si=ii3DcV4JQT2CxOJWWidZKg&utm_source=copy-link">Podcasts</a>
                🎙 and I have a liking towards Photography also, so sharing that through my <a
                    class="text-decoration-none" href="https://instagram.com/vishwasracharya">Instagram</a>.
            </p>
            <p>And when I feel low 🥱 or in a zone to do nothing then I listen to songs 🎶 and dance on
                them, just to get myself back on track.
            </p>
        </div>
    </div>
</div>