<section class="my-5 py-5">
    <div class="container">
        <div class="row center mx-auto">
            <div class="col-10 col-md-7">
                <div class="d-flex flex-column text-center">
                    <h1 class="h1">Privacy Policy</h1>
                    <p class="text-muted"><strong class="text-muted">Last Updated:</strong> 04 February, 2023</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-9">
                <div class="card shadow-sm rounded border-0">
                    <div class="card-body p-md-5">
                        <p class="">Your privacy is important to us. It is vishwasracharya.github.io policy to
                            respect your privacy regarding any information we may collect from you across our website,
                            https://vishwasracharya.github.io, and other
                            sites we own and operate.
                            <br><br> We only ask for personal information when we truly need it to provide a service to
                            you. We collect it by fair and lawful means, with your knowledge and consent. We also let
                            you know why we’re collecting
                            it and how it will be used.
                            <br><br> We only retain collected information for as long as necessary to provide you with
                            your requested service. What data we store, we’ll protect within commercially acceptable
                            means to prevent loss and theft,
                            as well as unauthorized access, disclosure, copying, use or modification.
                            <br><br> We don’t share any personally identifying information publicly or with
                            third-parties, except when required to by law.
                        </p>
                        <div class="">
                            <h5 class="fw-bold">Disclosures:</h5>
                            <ul class="terms-list">
                                <li>vishwasacharya.herokuapp.com use and transfer to any other app of information
                                    received from <a
                                        href="https://developers.google.com/terms/api-services-user-data-policy#additional_requirements_for_specific_api_scopes">Google
                                        APIs will adhere to Google API Services User Data Policy</a>,
                                    including the Limited Use requirements.
                                </li>
                            </ul>
                            <br>
                            <p class="">
                                We will send you marketing and promotional emails on your registered email address (and
                                not on Google OAuth authenticated email address).
                                <br><br> Our website may link to external sites that are not operated by us. Please be
                                aware that we have no control over the content and practices of these sites, and cannot
                                accept responsibility or liability
                                for their respective privacy policies.
                                <br><br> You are free to refuse our request for your personal information, with the
                                understanding that we may be unable to provide you with some of your desired services.
                                <br><br> Your continued use of our website will be regarded as acceptance of our
                                practices around privacy and personal information. If you have any questions about how
                                we handle user data and personal information,
                                feel free to contact us.
                                <br><br>
                                <!-- <a href="javascript:window.print()" class="btn btn-soft-primary d-print-none">Print</a> -->
                            <p>For any questions or clarifications write to us at <a class="text-blue"
                                    href="mailto:vishwasracharya@gmail.com">vishwasracharya@gmail.com</a>.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--end col-->
        </div>
        <!--end row-->
    </div>
    <!--end container-->
</section>