<header class="sticky-top bg-white shadow-sm">
    <div class="container py-1">
        <div class="center mx-auto flex-wrap">
            <a class="tab m-1 px-2 py-1 text-dark" aria-current="page" routerLink="">Home</a>
            <a class="tab m-1 px-2 py-1 text-dark" routerLink="projects">Projects</a>
            <a class="tab m-1 px-2 py-1 text-dark" routerLink="about">About</a>
            <a class="tab m-1 px-2 py-1 text-dark" routerLink="blog">Blog</a>
            <a class="tab m-1 px-2 py-1 text-dark" routerLink="podcast">Podcast</a>
        </div>
    </div>
</header>