<section class="bg-light">
    <div class="container py-4">
        <div class="row">
            <div class="col-12 col-md-5 mb-5 mb-md-0 d-flex align-items-start justify-content-center flex-column">
                <h1 class="fw-bold">Vishwas Acharya <br> <span class="text-blue">Projects</span></h1>
                <p class="text-muted">Whatever projects I have or will be created, all of that projects overview will be
                    available here, It also includes the projects from my internships.</p>
                <p class="text-muted">Also, most of my project code and live links will be on GitHub, So check out my
                    GitHub profile as well.</p>
                <a class="btn btn-dark bg-gradient rounded"
                    href="https://github.com/vishwasracharya" target="_blank"><span
                        class="text-white">GitHub</span></a>
            </div>
            <div class="col-12 col-md-6 d-flex justify-content-center justify-content-md-end">
                <img class="img-fluid hero-bg" style="width: 20rem; height: auto;"
                    src="assets/img/graphics/projects-bg.png" alt="Projects BG">
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <h2 class="mb-4">All Projects <i class="fa-solid fa-lightbulb mx-1"></i></h2>
        <div class="row">
            <!-- <ng-templeat *ngFor="let project of projectArray" [project]="project"></ng-templeat> -->
            <div class="col-md-6 col-xl-4 mb-3 overflow hidden" *ngFor="let project of projectArray">
                <div class="d-flex align-items-center justify-content-start border rounded project-card">
                    <div class="my-3 mx-2">
                        <img [src]="project.img" width="100" [alt]="project.name">
                    </div>
                    <div class="my-3 mx-2">
                        <p class="h5 fw-bold text-secondary">{{project.name}}</p>
                        <p class="text-muted font-xs project-desc mb-1">{{project.desc}}</p>
                        <ul class="mb-1 p-0">
                            <li class="badge bg-light rounded-pill font-xs m-0 text-muted"
                                *ngFor="let tags of project.tags">{{tags}}</li>
                        </ul>
                        <a class="font-xs link" href="{{project.link}}" target="_blank">Got To Project <i
                                class="fa-solid fa-angles-right link mx-1"> </i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>