<section class="bg-light">
    <div class="container py-4">
        <div class="row">
            <div class="col-12 col-md-5 mb-5 mb-md-0 d-flex align-items-start justify-content-center flex-column">
                <h1 class="fw-bold text-danger">404</h1>
                <h2 class="fw-bold">Page Not Found</h2>
                <p class="text-muted">The page you are looking for might have been removed or is temporarily unavailable.</p>
                <a class="btn btn-dark bg-gradient rounded" routerLink="/home"><span class="text-white">Go Back to Home</span></a>
            </div>
            <div class="col-12 col-md-6 d-flex justify-content-center justify-content-md-end">
                <img class="img-fluid hero-bg" style="width: 20rem; height: auto;"
                    src="assets/img/graphics/oops.png" alt="Projects BG">
            </div>
        </div>
    </div>
</section>