<section class="bg-light">
    <div class="container py-5">
        <div class="row">
            <div class="col-12 col-md-6 mb-5 mb-md-0 d-flex align-items-center justify-content-center flex-column">
                <div class="">
                    <h1 class="h1 fw-bold">Contact</h1>
                    <p class="text-muted mb-1">Want to connect with me or have a question?</p>
                    <p class="text-muted">Then send me a mail or directly add your message in the contact form</p>
                </div>
            </div>
            <div class="col-12 col-md-6 d-flex justify-content-center">
                <img class="img-fluid bounceIn" width="200" src="assets/img/contact/contact-us.png"
                    alt="Vishwas Acharya Hero Image">
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="col-md-4">
            <a href="mailto:vishwasracharya@gmail.com">
                <div class="d-flex align-items-center justify-content-start border rounded p-3">
                    <div class="center">
                        <img class="" width="35" height="35" src="assets/img/icons/gmail.png" alt="Gmail Logo">
                    </div>
                    <div class="ms-4 d-block">
                        <p class="fw-bold m-0 fs-5">Email</p>
                        <p class="text-muted m-0 font-xs">Always Open</p>
                        <p class="text-blue m-0 font-xs">vishwasracharya@gmail.com</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</section>