<section *ngIf="isLoading">
    <div class="container">
        <div class="text-center">
            <div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </div>
</section>

<ng-container *ngIf="!isLoading">
<section class="bg-light">
    <div class="container">
        <div class="row">
            <div class="center flex-column text-center">
                <h1 class="fw-bold">{{post ? post.title : ''}}</h1>
                <div class="mb-2">
                    <ul class="mb-2 p-0">
                        <li class="badge bg-blue bg-gradient rounded-pill font-xs mx-1" *ngFor="let label of labels ? labels : ''">
                            {{label}}
                        </li>
                    </ul>
                </div>
                <div class="d-flex align-items-center justify-content-center flex-wrap mx-2 mb-3">
                    <p class="my-auto text-muted font-xs mx-2">
                        <i class="fa-solid fa-calendar-days text-muted me-2"></i>
                        <span class="fw-bold text-muted">Published:</span> {{post ? post.published : '' | date: 'mediumDate'}}
                    </p>
                    <p class="my-auto text-muted font-xs mx-2">
                        <i class="fa-solid fa-calendar-days text-muted me-2"></i>
                        <span class="fw-bold text-muted">Last Updated:</span> {{post ? post.updated : '' | date: 'mediumDate'}}
                    </p>
                </div>

            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8 mb-3">
                <div class="border rounded p-3">
                    <div class="center">
                        <img loading="lazy" class="img-fluid rounded fadeIn" width="690px"
                            src="assets/img/blogs/{{getSlugofPost(post ? post.url : '')}}.png" [alt]="post ? post.title : ''">
                    </div>
                    <div class="my-3 overflow-hidden" id="blogPost" [innerHTML]="content"></div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="border rounded p-3 mb-3">
                    <h5 class="fw-bold">Share</h5>
                    <p class="text-muted font-xs">Hope you enjoyed reading this blog hence, If you like this blog then do share it with your friends & family.</p>
                    <div class="">
                        <a href="https://www.facebook.com/sharer/sharer.php?u={{WEBSITE_URL}}/blog/{{id}}&quote=Check out this amazing blog - {{post.title}}" title="Share by Facebook" rel="noreferer, noopener" target="_blank" class="rounded mx-1">
                            <img loading="lazy" class="org-icons" src="assets/img/icons/facebook.png" alt="Facebook Icon"/>
                        </a>
                        <a href="https://www.linkedin.com/shareArticle?url={{WEBSITE_URL}}/blog/{{id}}&amp;title={{post.title}} &amp;summary=Check out this amazing blog -&amp;source={{WEBSITE_URL}}/blog/{{id}}" title="Share by LinkedIn" rel="noreferer, noopener" target="_blank" class="rounded mx-1">
                            <img loading="lazy" class="org-icons" src="assets/img/icons/linkedin.png" alt="LinkedIn Icon"/>
                        </a>
                        <a href="https://twitter.com/intent/tweet?text=Check out this amazing blog - {{post.title}} at {{WEBSITE_URL}}/blog/{{id}}" title="Share by Tweet" rel="noreferer, noopener" target="_blank" class="rounded mx-1">
                            <img loading="lazy" class="org-icons" src="assets/img/icons/twitter.png" alt="Twitter Icon"/>
                        </a>
                        <a href="https://wa.me/?text=Check out this blog - {{post.title}} at {{WEBSITE_URL}}/blog/{{id}}" data-action="share/whatsapp/share" title="Share by Whatsapp" rel="noreferer, noopener" target="_blank" class="rounded mx-1">
                            <img loading="lazy" class="org-icons" src="assets/img/icons/whatsapp.png" alt="Whatsapp Icon"/>
                        </a>
                        <a href="mailto:?subject={{post.title}}&amp;body=Check out this blog - {{post.title}} at {{WEBSITE_URL}}/blog/{{id}}" title="Share by Email" title="Share by Email" rel="noreferer, noopener" target="_blank" class="rounded mx-1">
                            <img loading="lazy" class="org-icons" src="assets/img/icons/gmail.png" alt="Gmail Icon"/>
                        </a>
                    </div>
                </div>

                <div class="border rounded p-2 mb-3">
                    <h5 class="fw-bold ms-2">More Posts</h5>
                    <div class="overflow hidden mb-2" *ngFor="let post of recentPosts">
                        <a [routerLink]="'/blog' + '/' + post ? post.id : ''">
                        <div class="row p-1">
                            <div class="col-4">
                                <img loading="lazy" class="img-fluid text-muted-hover rounded" src="assets/img/blogs/{{getSlugofPost(post ? post.url : '')}}.png" alt="{{post ? post.title : ''}}">
                            </div>
                            <div class="col-8">
                                <p class="text-muted fw-bold mb-1 p-0 lh-sm font-s">{{post ? post.title : ''}}</p>
                                <p class="text-muted font-xs m-0 p-0">
                                    <i class="fa-solid fa-calendar-days text-muted me-2"></i>
                                    <span class="fw-bold text-muted">Published:</span> {{post ? post.published : '' | date: 'mediumDate'}}
                                </p>
                            </div>
                        </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</ng-container>