<section class="bg-light">
  <div class="container py-5">
    <div class="row">
      <div class="col-12 col-md-6 mb-5 mb-md-0 d-flex align-items-start justify-content-center flex-column">
        <div class="">
          <h1 class="h1 fw-bold text-blue">Welcome</h1>
          <h1 class="h1 fw-bold">I Am Vishwas Acharya</h1>
          <p class="text-muted">Full-Stack Engineer @Volansys, You-Tuber, Content Creator, SPCE </p>
        </div>
      </div>
      <div class="col-12 col-md-6 d-flex justify-content-center">
        <img class="rounded-pill img-fluid border bounceIn" id="heroImg" width="250"
          src="assets/img/index-hero-img-2.png" alt="Vishwas Acharya Hero Image">
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">

    <div class="mb-5">
      <h2 class="fw-bold mb-4">About Me </h2>
      <div class="row">
        <div class="col-md-6 mb-3">
          <p class="fw-bold">Hi, 👋</p>
          <p class="text-muted">My name is Vishwas Acharya and graduated 🎓 as a Bachelor's of Information Technology
            Engineer from
            <a class="text-blue" href="http://spec.edu.in/" target="_blank">SPCE</a>.
            <br>
            I enjoy working in tech 💻 and love to be a part of different communities, hence that's the
            reason I enjoy learning 📕 & sharing,
            Apart from this I utilize my time by making Podcast 🎙, Vlogs 📷 and Blogs.
          </p>
        </div>
        <div class="col-md-6 my-auto">
          <div class="center">
            <img class="img-fluid rounded"
              src="https://activity-graph.herokuapp.com/graph?username=vishwasracharya&bg_color=f8f9fa&color=4169e1&line=4169e1&point=4169e1&area=true&hide_border=true">
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-9">
      <div class="mb-5">
        <h2 class="fw-bold mb-4">Education</h2>
        <div class="mb-3">
          <p class="fw-bold m-0 text-muted">Sardar Patel College of Engineering <span
              class="text-muted fw-normal font-xs">(2018-2022)</span></p>
          <p class="text-muted font-s">Bachelor of Engineering (B.E) in Information Technology</p>
        </div>
        <div class="mb-3">
          <p class="fw-bold m-0 text-muted">Knowledge High School <span
              class="text-muted fw-normal font-xs">(2016-2018)</span></p>
          <p class="text-muted font-s">Science/Group A (Maths) - Class 10<sup class="text-muted">th</sup>, 11<sup
              class="text-muted">th</sup>, 12<sup class="text-muted">th</sup></p>
        </div>
      </div>

      <div class="mb-5">
        <h2 class="fw-bold mb-4">Skills</h2>
        <div class="mb-3">
          <p class="fw-bold mb-1">Tech</p>
          <li class="badge bg-light rounded p-2 m-1 text-dark fa-brands fa-aws"> <span class="ms-2">AWS</span></li>
          <li class="badge bg-light rounded p-2 m-1 text-dark fa-brands fa-node-js"> <span class="ms-2">Node.JS</span>
          </li>
          <li class="badge bg-light rounded p-2 m-1 text-dark fa-brands"><span class="ms-2">Express.JS</span></li>
          <li class="badge bg-light rounded p-2 m-1 text-dark fa-brands"><span class="ms-2">Mongo DB</span></li>
          <li class="badge bg-light rounded p-2 m-1 text-dark fa-brands fa-js"><span class="ms-2">JavaScript</span></li>
          <li class="badge bg-light rounded p-2 m-1 text-dark fa-brands fa-html5"><span class="ms-2">HTML5</span></li>
          <li class="badge bg-light rounded p-2 m-1 text-dark fa-brands fa-css3-alt"><span class="ms-2">CSS3</span></li>
          <li class="badge bg-light rounded p-2 m-1 text-dark fa-brands fa-sass"><span class="ms-2">SASS</span></li>
          <li class="badge bg-light rounded p-2 m-1 text-dark fa-brands fa-java"><span class="ms-2">Java</span></li>
          <li class="badge bg-light rounded p-2 m-1 text-dark fa-brands fa-react"><span class="ms-2">React</span></li>
          <li class="badge bg-light rounded p-2 m-1 text-dark fa-brands fa-angular"><span class="ms-2">Angular</span>
          </li>
          <li class="badge bg-light rounded p-2 m-1 text-dark fa-brands"><span class="ms-2">Heroku</span></li>
          <li class="badge bg-light rounded p-2 m-1 text-dark fa-brands fa-git-alt"><span class="ms-2">Git</span></li>
          <li class="badge bg-light rounded p-2 m-1 text-dark fa-brands fa-github"><span class="ms-2">GitHub</span></li>
          <li class="badge bg-light rounded p-2 m-1 text-dark fa-brands fa-bootstrap"><span
              class="ms-2">Bootstrap</span></li>
          <li class="badge bg-light rounded p-2 m-1 text-dark fa-brands fa-gulp"><span class="ms-2">Gulp</span></li>
          <li class="badge bg-light rounded p-2 m-1 text-dark fa-brands fa-jira"><span class="ms-2">Jira</span></li>
          <li class="badge bg-light rounded p-2 m-1 text-dark fa-brands fa-bitbucket"><span
              class="ms-2">BitBucket</span></li>
          <li class="badge bg-light rounded p-2 m-1 text-dark fa-brands"><span class="ms-2">Redis</span></li>
          <li class="badge bg-light rounded p-2 m-1 text-dark fa-brands fa-stripe-s"><span class="ms-2">Stripe</span>
          </li>
          <li class="badge bg-light rounded p-2 m-1 text-dark fa-brands"><span class="ms-2">Appsmith</span></li>
        </div>
        <div class="mb-3">
          <p class="fw-bold mb-1">Other</p>
          <li class="badge bg-light text-dark p-2 m-1 rounded"> <span class="fw-normal">Video Editing</span></li>
          <li class="badge bg-light text-dark p-2 m-1 rounded"> <span class="fw-normal">Audio Editing</span></li>
          <li class="badge bg-light text-dark p-2 m-1 rounded"> <span class="fw-normal">Photography</span></li>
        </div>
      </div>

      <div class="mb-5">
        <h2 class="fw-bold mb-4">Experience</h2>
        <div class="mb-4">
          <p class="fw-bold text-muted">Full-Stack Engineer</p>
          <div>
            <a class="text-blue" href="https://volansys.com" target="_blank">Volansys Technologies (An ACL Digital
              Company)</a>
            <p class="text-muted fw-normal mb-2">Sep 2022 - Present</p>
            <ul class="font-s">
              <li>Building awesome projects and providing best solution possible.</li>
              <li>Working with top technologies like AWS, MEAN & MERN stack.</li>
            </ul>
          </div>
        </div>
        <div class="mb-4">
          <p class="fw-bold text-muted">Jr Front-End Developer</p>
          <div>
            <a class="text-blue" href="https://futureblink.com" target="_blank">FutureBlink</a>
            <p class="text-muted fw-normal mb-2">Feb 2022 - Aug 2022</p>
            <ul class="font-s">
              <li>Developing functionalities on <a class="text-blue" href="https://salesblink.io"
                  target="_blank">@salesblink</a> website.</li>
              <li>Working with nodejs and other front-end frameworks.</li>
            </ul>
          </div>
        </div>
        <div class="mb-4">
          <p class="fw-bold text-muted">Web Developer</p>
          <div>
            <a class="text-blue" href="https://nmrenterprise.com" target="_blank">NMR Enterprise</a>
            <p class="text-muted fw-normal mb-2">May 2021 - September 2021</p>
            <ul class="font-s">
              <li>Developed Front-End websites, Identified & resolved Bugs in the company's website.</li>
              <li>Maintained the code & documentation of the website for future development.</li>
            </ul>
          </div>
        </div>
        <div class="mb-4">
          <p class="fw-bold text-muted">Video Editor</p>
          <div class="mb-3">
            <a class="text-blue" href="http://worldmentmedia.com" target="_blank">Worldment Media</a>
            <p class="text-muted fw-normal mb-2">July 2021 - June 2022</p>
            <ul class="font-s">
              <li>Worked on 500+ video content, including categories like comedy, ads, beauty.</li>
              <li>Edited short form content to maximize the companies reach</li>
            </ul>
          </div>
          <div class="mb-3">
            <a class="text-blue" href="https://curiouswings.ml/" target="_blank">Curious Wings</a>
            <p class="text-muted fw-normal mb-2">April 2021 - May 2021</p>
            <ul class="font-s">
              <li>Editing Educational video on the given Voice Over(VO)</li>
              <li>Graphics, Animation, Basic Audio editing</li>
            </ul>
          </div>
          <div class="mb-3">
            <a class="text-blue" href="http://indeedfoundation.org" target="_blank">IN-DEED Foundation</a>
            <p class="text-muted fw-normal mb-2">February 2021 - March 2021</p>
            <ul class="font-s">
              <li>Performed checks on videos and audios for copyright content and child-friendly content</li>
              <li>Audio editing for educational videos</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container">
  <div class="mb-5">
    <h2 class="mb-4 fw-bold">Blogs</h2>
    <div class="row">
      <div class="col-md-6 col-xl-4 mb-3 overflow hidden bounceIn">
        <div class="border rounded overflow hidden blog-card">
          <a href="https://vishwasacharya.hashnode.dev/purge-css">
            <div class="p-2">
              <img loading="lazy" class="img-fluid text-muted-hover rounded fadeIn" src="assets/img/blogs/purge-css.png"
                alt="Purge CSS">
              <div class="mt-3">
                <h5 class="fw-bold ms-1">Purge CSS</h5>
                <div class="d-flex align-items-center justify-content-between mt-3 mx-2">
                  <p class="my-auto text-muted font-xs"><i class="fa-solid fa-calendar-days text-muted me-2"></i>April
                    08, 2022</p>
                  <a class="font-xs link" href="https://vishwasacharya.hashnode.dev/purge-css">Got To Blog <i
                      class="fa-solid fa-angles-right link mx-1"> </i></a>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-6 col-xl-4 mb-3 overflow hidden bounceIn">
        <div class="border rounded overflow hidden blog-card">
          <a href="https://vishwasacharya.hashnode.dev/viewport-meta-tag-importance">
            <div class="p-2">
              <img loading="lazy" class="img-fluid text-muted-hover rounded fadeIn"
                src="assets/img/blogs/viewport-meta-tag-importance.png" alt="Viewport Meta Tag Importance">
              <div class="mt-3">
                <h5 class="fw-bold ms-1">Viewport Meta Tag Importance</h5>
                <div class="d-flex align-items-center justify-content-between mt-3 mx-2">
                  <p class="my-auto text-muted font-xs"><i
                      class="fa-solid fa-calendar-days text-muted me-2"></i>February 26, 2022</p>
                  <a class="font-xs link" href="https://vishwasacharya.hashnode.dev/viewport-meta-tag-importance">Got To
                    Blog <i class="fa-solid fa-angles-right link mx-1"> </i></a>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-6 col-xl-4 mb-3 overflow hidden bounceIn">
        <div class="border rounded overflow hidden blog-card">
          <a href="https://vishwasacharya.hashnode.dev/difference-between-remove-and-style-display-none">
            <div class="p-2">
              <img loading="lazy" class="img-fluid text-muted-hover rounded fadeIn"
                src="assets/img/blogs/difference-between-remove-and-style-display-none.png"
                alt="Diff b/w Remove And Style Display None">
              <div class="mt-3">
                <h5 class="fw-bold ms-1">Diff b/w Remove And Style Display None</h5>
                <div class="d-flex align-items-center justify-content-between mt-3 mx-2">
                  <p class="my-auto text-muted font-xs"><i class="fa-solid fa-calendar-days text-muted me-2"></i>March
                    18, 2022</p>
                  <a class="font-xs link"
                    href="https://vishwasacharya.hashnode.dev/difference-between-remove-and-style-display-none">Got To
                    Blog <i class="fa-solid fa-angles-right link mx-1"> </i></a>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-6 col-xl-4 mb-3 overflow hidden bounceIn">
        <div class="border rounded overflow hidden blog-card">
          <a routerLink="/blog/2701620778001146317">
            <div class="p-2">
              <img loading="lazy" class="img-fluid text-muted-hover rounded fadeIn"
                src="assets/img/blogs/the-way-you-talk-matters.png" alt="The Way You Talk, Matters!">
              <div class="mt-3">
                <h5 class="fw-bold ms-1">The Way You Talk, Matters!</h5>
                <div class="d-flex align-items-center justify-content-between mt-3 mx-2">
                  <p class="my-auto text-muted font-xs"><i class="fa-solid fa-calendar-days text-muted me-2"></i>March
                    31, 2022</p>
                  <a class="font-xs link" routerLink="/blog/2701620778001146317">Got To Blog <i
                      class="fa-solid fa-angles-right link mx-1"> </i></a>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-6 col-xl-4 mb-3 overflow hidden bounceIn">
        <div class="border rounded overflow hidden blog-card">
          <a routerLink="/blog/1126890132174151204">
            <div class="p-2">
              <img loading="lazy" class="img-fluid text-muted-hover rounded fadeIn"
                src="assets/img/blogs/do-what-you-fear-from.png" alt="Do What You Fear From">
              <div class="mt-3">
                <h5 class="fw-bold ms-1">Do What You Fear From</h5>
                <div class="d-flex align-items-center justify-content-between mt-3 mx-2">
                  <p class="my-auto text-muted font-xs"><i
                      class="fa-solid fa-calendar-days text-muted me-2"></i>December 15, 2021</p>
                  <a class="font-xs link" href="/blog/1126890132174151204">Got To Blog <i
                      class="fa-solid fa-angles-right link mx-1"> </i></a>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-6 col-xl-4 mb-3 overflow hidden bounceIn">
        <div class="border rounded overflow hidden blog-card">
          <a routerLink="/blog/279129118884704914">
            <div class="p-2">
              <img loading="lazy" class="img-fluid text-muted-hover rounded fadeIn"
                src="assets/img/blogs/partiality.png" alt="Partiality">
              <div class="mt-3">
                <h5 class="fw-bold ms-1">Partiality</h5>
                <div class="d-flex align-items-center justify-content-between mt-3 mx-2">
                  <p class="my-auto text-muted font-xs"><i
                      class="fa-solid fa-calendar-days text-muted me-2"></i>November 27, 2021</p>
                  <a class="font-xs link" href="/blog/279129118884704914">Got To Blog <i
                      class="fa-solid fa-angles-right link mx-1"> </i></a>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="cta"></div>

<section class="bg-light py-5">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 text-justify px-md-4 mb-3 mb-md-0">
        <h2 class="fw-bold">Want to Connect?</h2>
        <p class="text-muted">I'm always open to new opportunities to learn and grow, so if you have any
          opportunities to work with me or just want to say hi 👋, feel free to drop me a line
          at my <a class="text-decoration-none text-blue" href="mailto:vishwasracharya@gmail.com">Email</a> 😉
        </p>
        <button class="btn btn-warning bg-gradient rounded height-30 mt-3 center"><a
            class="text-decoration-none text-white" href="https://www.buymeacoffee.com/vishwasacharya"
            target="_blank">Buy Me A Coffee
            ☕</a></button>
      </div>
    </div>
  </div>
</section>

<div class="container">
  <div class="my-5">
    <h2 class="fw-bold mb-4 text-center">GitHub Stats</h2>
    <p class="text-muted text-center">This are my github stats! If you are interested in 😅</p>
    <div class="center flex-wrap">
      <img class="img-fluid rounded border m-3"
        src="https://github-readme-stats.vercel.app/api?username=vishwasracharya&show_icons=true&hide_border=true"
        alt="Vishwas's github stats" />
      <img class="img-fluid rounded border m-3"
        src="https://github-readme-streak-stats.herokuapp.com/?user=vishwasracharya&hide_border=true"
        alt="Vishwas's github strak stats" />
    </div>
  </div>
</div>